<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/structure.css">
</head>
<body>
<div id="container">
    <header>
        <div id="logo">
            <a href="/">
                <h1>HelpSystem</h1>
            </a>
        </div>
        <nav>
            <ul id="topMenu">
                <li><a href="/checklist">체크 리스트</a></li>
                <li><a href="/chat">채팅상담</a></li>
                <li><a href="/schedules">예약 신청</a></li>
            </ul>
        </nav>
    </header>
    <main class="contents">
        <section id="CheckList">
            <h2>체크 리스트</h2>
            <div class="detail">
                <img src="images/checklist.jpg" width="150" height="150">
                <b><p><h3>주택관련 체크리스트를 제공합니다</h3></p></b>
                <p>집을 고를 때, 어떻게 골라야 할지 막막하지 않나요?</p>
                <p>체크리스트를 통해 점수를 매겨보세요!</p>
        </section>
        <section id="Chatting">
            <h2>채팅 상담</h2>
            <div class="detail">
                <img src="images/Chat.jpg" width="150" height="123">
                <b><p><h3>전문가와의 채팅 서비스를 제공합니다</h3></p></b>
                <p>궁금한 것이 생겼을 때 물을 곳이 없어 답답하진 않으셨나요?</p>
                <p>전문가에게 바로 연락해보세요!</p>
        </section>
        <section id="Reservation">
            <p></p>
            <h2>예약 신청</h2>
            <div class="detail">
                <img src="images/Reser.jpg" width="150" height="123">
                <b><p><h3>주택 임대차 계약, 전문가와의 동행을 제공합니다</h3></p></b>
                <p>주택 임대차 계약, 혹여 빠트린 부분이 있을까 걱정되진 않으신가요?</p>
                <p>전문가와 동행해보세요!</p>
            </div>
        </section>
    </main>
    <footer>
        <section id="bottomMenu">
            <ul>
                <li><a href="#">회사 소개</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">약관</a></li>
            </ul>
        </section>
    </footer>
</div>
</body>
</html>